#vimeo-block {
  position: relative;
  // right: 50%;
  // left: 50%;
  // overflow: hidden;
  width: 100%;
  max-height: 720px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  // margin-right: -50vw !important;
  // margin-left: -50vw !important;
  overflow: hidden;
  background-color: #fbf9f2;
  @media (min-width: 1640px) {
    max-height: 1000px;
  }
}

#vimeo-block .video-wrapper {
  position: relative;
  /* 16:9 Aspect Ratio */
  // max-height: 720px;
  height: 54.5vw;

  overflow: hidden;
  iframe .player{
    width:  100% !important;
    height:  100% !important;
  }

  .first-frame{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: auto;
    img{
      max-height: 54.5vw;
    }
  }
  @media screen and (min-width: 768px) {
    height: 55.25vw;
    .first-frame img{
      max-height: 55.25vw;
    }
  }
  @media screen and (min-width: 992px) {
    height: 40.35vw;

    .first-frame img{
      max-height: 40.35vw;
    }
  }
}

#vimeo-block .logo-link {
  border-bottom: 0 !important;

  &:hover {
    border-bottom: 0 !important;
  }

  .logo{
    display: none;
    position: absolute;
    top: 53px;
    left: 55px;
    width: 325px;
    z-index: 2;
    @media screen and (min-width: 992px){
      display: block;
    }
    @media screen and (min-width: 1220px) {
      width: 440px;
    }
  }

}

#vimeo-block .vimeo-buttons{
  // height: 54.5vw;
  padding: 30px;
  padding-left: 26px;
  padding-top: 68px;
  padding-bottom: 40px;

  .arrow-lists{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 24px !important;
  }

  a{
    border-bottom: 0 !important;
    width: auto;
    font-family: 'FranklinBook', 'Helvetica Neue',Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
    color: #494a51;
    @media screen and (min-width: 992px) and (max-width: 1400px) {
      font-size: 1.5vw;
    }
  }
  a:hover{
    text-decoration:none !important;
    border-bottom: 0 !important;
    color: #494a51;
  }
  li{
    margin-bottom: 6px;
    padding-left: 9px;
  }
  
  li::before{
    font-family: "Font Awesome 6 Free";
    content: "\f105";
    font-weight: 600;
    font-size: 11.3px;
    color: #494a51;
    padding-right: 9px;
  }

  li::marker{
    color: transparent;
  }

  @media screen and (min-width: 768px) and (max-width:992px){
    padding-bottom: 35px;

    .arrow-lists{
      display: flex;
      padding-left: 40px;
    }
    li {
      margin-right: 31px;
      padding-left: 9px;
    }
  }
  @media screen and (min-width: 992px) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 410px;
    padding-left: 20px;
    padding-bottom: 44.5px;
    li {
      margin-bottom: 2px;
      padding-left: 9px;
    }
  }
  @media screen and (min-width: 1200px) {
    li {
      margin-bottom: 5px;
    }
  }
}

#vimeo-block{
  @media screen and (min-width: 992px) {
    height: 40.35vw;
    overflow:hidden;
    .video-wrapper{
      margin-left: 300px;
    }
  }
    @media screen and (min-width: 1220px) {
      .video-wrapper{
        margin-left: 410px;
      }
    }
}

#vimeo-block iframe {
  box-sizing: border-box;
  height: 56.25vw;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  z-index: 2;
  pointer-events: all;
}

#vimeo-block iframe *{
  padding: 0;
  margin: 0;
}

.view-editview {
  #vimeo-block iframe {
    z-index: -1;
  }
}

.contenttype-lrf{
  @media screen and (min-width:992px){
    .logo-nav-wrapper .logo{
      display: none !important;
    }
  }
}
