// .section-advancedsearch {
//   .documentFirstHeading {
//     @media screen and (min-width: 768px) {
//       padding-left: 20px !important;
//       margin-top: 58px !important;
//     }

//     @media screen and (min-width: 992px) {
//       padding-left: 21px !important;
//       margin-top: 118px !important;
//       margin-bottom: 37px;
//     }
//   }

//   #view {
//     margin-top: 3px;

//     @media screen and (min-width: 768px) {
//       margin-right: 20px;
//       margin-left: 20px;
//     }

//     @media screen and (min-width: 992px) {
//       margin-right: 0px;
//       margin-left: 0px;
//     }
//   }

//   #page-document {
//     width: auto !important;
//   }

//   #page-document .content-container {
//     width: auto !important;
//     padding-top: 14px;
//     padding-right: 10%;
//     padding-left: 10%;
//     margin-top: 0px;

//     @media screen and (min-width: 768px) {
//       padding-top: 9px;
//       // padding-top: 25px;
//       padding-right: 7.5%;
//       padding-left: 7.5%;
//       // margin-left: 25px;
//       // margin-right: 25px;
//     }

//     @media screen and (min-width: 1400px) {
//       max-width: 1300px !important;
//       padding-top: 7px !important;
//     }

//     .column {
//       padding-right: 0px !important;
//       padding-left: 0px !important;
//     }
//   }

//   .block.search {

//     // padding-left: 12.5px;
//     // padding-right: 12.5px;
//     .searchBlock-facets {
//       max-width: 100% !important;
//       margin-right: 0;
//       margin-left: 0;
//     }

//     padding-right: 3px;

//     padding-left: 3px;

//     @media screen and (min-width: 768px) {
//       padding-right: 9px;
//       padding-left: 9px;
//     }

//     @media screen and (min-width: 992px) {
//       padding-right: 13px;
//       padding-left: 13px;
//     }

//     @media screen and (min-width: 1400px) {
//       padding-right: 7.2px;
//       padding-left: 7.2px;
//     }

//     .search-input input {
//       height: 58px;
//     }

//     .search-wrapper {
//       padding-bottom: 41px;

//       @media screen and (min-width: 768px) {
//         padding-bottom: 41px;
//       }

//       @media screen and (min-width: 992px) {
//         padding-bottom: 32px;
//       }
//     }

//     .text-input-facet,
//     .select-facet {
//       display: flex !important;
//       flex-direction: column;
//       justify-content: space-between !important;
//       // margin-top: 33px;
//       margin-top: 15px;

//       // padding-right: 15px;
//       @media screen and (min-width: 768px) {
//         flex-direction: row;
//         padding-right: 0px;
//         margin-top: 15px;
//       }
//     }

//     .ui.header {
//       display: block !important;
//       padding-bottom: 6px;
//       margin-top: 18px !important;
//       margin-bottom: auto !important;
//       color: #b6a782;
//       font-family: 'StyreneRegular', 'Helvetica Neue', Helvetica, sans-serif;
//       font-size: 16px;
//       font-weight: 400;
//       // padding-left: 15px;
//       letter-spacing: 0em;

//       @media screen and (min-width: 768px) {
//         width: 33%;
//         padding-bottom: 0px;
//       }
//     }

//     .ui.input>input,
//     .react-select-container>input {
//       padding-top: 15.8px !important;
//       padding-bottom: 15.8px !important;
//     }

//     .text-input-facet .ui.input,
//     .react-select-container {
//       @media screen and (min-width: 768px) {
//         padding-left: 10px;
//       }
//     }

//     .ui.input,
//     .react-select-container {
//       width: 100%;

//       input,
//       .react-select__value-container {
//         background-color: var(--bonnefanten-bg) !important;
//         color: var(--bonnefanten-primary) !important;
//         font-family: 'StyreneBold', Arial, sans-serif !important;
//         font-size: 17px !important;
//         font-weight: 400;
//         letter-spacing: 0em;
//       }

//       input::placeholder,
//       .react-select__placeholder::placeholder {
//         color: var(--bonnefanten-primary) !important;
//         font-family: 'StyreneBold', Arial, sans-serif !important;
//         font-size: 17px !important;
//         font-weight: 400;
//         letter-spacing: 0em;
//       }
//     }

//     .react-select__value-container,
//     .react-select__control,
//     .react-select-container {
//       background-color: var(--bonnefanten-bg) !important;
//       color: var(--bonnefanten-primary) !important;
//     }

//     .css-b8ldur-Input {
//       // padding-left: 15px;
//     }

//     .react-select__control,
//     .react-select__control:hover {
//       padding: 10px 31px;
//       border: 2px solid var(--bonnefanten-primary);

//       @media screen and (min-width: 768px) {
//         // padding: 10px 30px;
//       }
//     }

//     .react-select__placeholder {
//       color: var(--bonnefanten-primary) !important;
//     }

//     .react-select__multi-value {
//       flex-direction: row-reverse;
//       background-color: var(--bonnefanten-primary);
//       border-radius: 3px;
//       color: var(--bonnefanten-bg) !important;

//       .react-select__multi-value__label {
//         padding-right: 6px;
//         padding-left: 0px;
//         color: var(--bonnefanten-bg) !important;
//         font-family: 'StyreneBold', Arial, sans-serif;
//         font-size: 16px;
//         letter-spacing: 0em;
//         line-height: 20px;
//       }

//       .react-select__multi-value__remove {
//         padding-right: 2px;

//         svg {
//           width: 16px;
//           height: 16px;
//           stroke-width: 1.5px;
//         }
//       }
//     }

//     .Search-main-button {
//       padding: 16px 29px;
//       border: 2px solid var(--bonnefanten-primary);
//       margin-top: 41px;
//       margin-left: 0px;
//       background-color: var(--bonnefanten-primary) !important;
//       border-radius: 0%;
//       clip-path: polygon(0% 10px,
//           10px 0%,
//           calc(100%) 0%,
//           100% 10px,
//           100% calc(100% - 10px),
//           calc(100% - 10px) 100%,
//           10px 100%,
//           0 calc(100%));
//       color: var(--bonnefanten-bg) !important;
//       font-family: 'StyreneBold', Arial, sans-serif;
//       font-size: 17px;
//       font-weight: 400;
//       line-height: 1.4;

//       @media screen and (min-width: 768px) {
//         margin-top: 24px;
//       }
//     }

//     .Search-main-button:hover {
//       background-color: var(--bonnefanten-bg) !important;
//       clip-path: none;
//       color: var(--bonnefanten-primary) !important;
//     }

//     .react-select__indicator .icon path {
//       fill: var(--bonnefanten-primary) !important;
//     }

//     .react-select__menu {
//       width: 99%;
//     }
//   }

//   .listing-template .ui.grid {

//     // display: block !important;
//     .listing-column {
//       width: 100% !important;

//       .plone-item-title,
//       .description {
//         margin-top: auto;
//       }
//     }

//     .plone-item-card {
//       display: flex;

//       padding: 0px !important;
//       margin-top: auto;

//       // width: 100% !important;
//       // display: flex;
//       // flex-direction: row;
//       .plone-item-card-link {
//         display: flex;
//         flex-direction: column;
//         // flex-wrap: wrap;

//         @media screen and (min-width: 768px) {
//           flex-direction: row !important;
//         }

//         .desctiption {
//           margin-top: 10px;
//           margin-bottom: 5px;
//           color: #b6a782;
//           font-family: 'StyreneRegular', Arial, sans-serif;
//           font-size: 19px;
//           letter-spacing: 0em;
//           line-height: 25px;
//           // color: var(--bonnefanten-primary);
//         }

//         .listing-image {
//           max-width: 100% !important;
//           margin-right: 50px;

//           @media screen and (min-width: 768px) {
//             max-width: 41.6% !important;
//           }

//           @media screen and (min-width: 1200px) {
//             max-width: 25% !important;
//           }
//         }
//       }
//     }

//     .plone-item-title {
//       margin-top: auto;
//     }
//   }
// }

.section-advancedsearch {
  #main{
    #page-document.ui.container{
      // width: 100% !important;
      // max-width: 1300px !important;
      width: auto !important;
      margin-left: 4% !important;
      margin-right: 4% !important;
      @media screen and (min-width:768px) {
        width: 750px !important;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-right: 2px;
        padding-left: 2px;
      }
      @media screen and (min-width:992px) {
        width: 970px !important;
        padding-right: 10px;
        padding-left: 10px;
      }
      @media screen and (min-width:1200px){
        width: 1170px !important;
      }

      h1.documentFirstHeading {
        text-align: center;
        margin-top: 56px;
        font-size: 40px;
        margin-bottom: 35px !important;
        @media screen and (min-width: 768px) {
          margin-bottom: 18px !important;
          margin-top: 20px !important;
          font-size: 80px;
        }
        @media screen and (min-width: 992px){
          margin-top: 9.5px !important;
        }

        @media screen and (min-width: 1200px) {
          margin-left: 9% !important;
          margin-right: auto !important;
        }
      }
    }
    .block.search{
      @media screen and(min-width: 768px){
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
      }
    }
    .search-wrapper {
      padding-bottom: 20px;
    }
    .search-input-actions, .react-select__indicator{
      display: none;
    }
    .react-select__menu{
      border: 1px solid #c3c3c3;
      border-top: 0px;
      .react-select__option > div{
        margin-left: 10px;
      }
    }
    .searchBlock-facets{
      width: 100%;
      margin-right: 15px !important;
      margin-left: 15px !important;
    }
    .search-details{
      padding-left: 14px;
    }
    .text-input-facet, .select-facet {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between !important;
        // margin-top: 33px;
        margin-top: 15px;

        // padding-right: 15px;
        @media screen and (min-width: 768px) {
          flex-direction: row;
          padding-right: 0px;
          margin-top: 15px;
        }
      }
        .ui.header {
          display: block !important;
          padding-bottom: 6px;
          margin-top: 18px !important;
          margin-bottom: auto !important;
          font-family: 'FranklinBook', 'Helvetica Neue', Helvetica, sans-serif;
          font-size: 17px !important;
          color: #404040;

          font-size: 16px !important;
          font-weight: 400;
          // padding-left: 15px;
          letter-spacing: 0.8px;

          @media screen and (min-width: 768px) {
            width: calc(35% - 1.5px);
            padding-bottom: 0px;
          }
        }

        .ui.input>input,
        .react-select-container>input {
          padding-top: 15.8px !important;
          padding-bottom: 15.8px !important;
          padding-left: 20px !important;
        }

        .text-input-facet .ui.input,
        .react-select-container {
          @media screen and (min-width: 768px) {
            // padding-left: 10px;
          }
        }

        .react-select__control{
          padding: 13px 30px 9px !important;
          .react-select__placeholder{
            font-size: 16.8px;
            letter-spacing: 0.4px;
            font-family: 'FranklinBook', Arial, sans-serif !important;
          }
        }

        .ui.input,
        .react-select-container {
          width: 100%;

          input,
          .react-select__value-container {
            border-radius: 0px !important;
            // background-color: var(--bonnefanten-bg) !important;
            color: #c3c3c3;
            font-family: 'StyreneBold', Arial, sans-serif !important;
            font-size: 17px !important;
            font-weight: 400;
            letter-spacing: 0em;
          }

          input::placeholder,
          .react-select__placeholder::placeholder {
            font-size: 16px !important;
            font-weight: 400;
            letter-spacing: 0em;
            color: #9c9b9b !important;
          }
        }

        .react-select__value-container,
        .react-select__control,
        .react-select-container {
          // background-color: blue !important;
          // color: red !important;
        }

        .css-b8ldur-Input {
          // padding-left: 15px;
        }

        .react-select__control,
        .react-select__control:hover {
          padding: 11px 20px;
          border: 1px solid #c3c3c3;

          @media screen and (min-width: 768px) {
            // padding: 10px 30px;
          }
        }
        .react-select__control--menu-is-open{
          border-bottom: 0px !important;
        }

        .react-select__placeholder {
          // color: var(--bonnefanten-primary) !important;
          color: #9c9b9b;
        }

        .react-select__multi-value {
          flex-direction: row-reverse;
          // background-color: var(--bonnefanten-primary);
          border-radius: 3px;
          color: #c3c3c3 !important;

          .react-select__multi-value__label {
            padding-right: 6px;
            padding-left: 0px;
            // color: var(--bonnefanten-bg) !important;
            color: #c3c3c3;
            font-family: 'StyreneBold', Arial, sans-serif;
            font-size: 16px;
            letter-spacing: 0em;
            line-height: 20px;
          }

          .react-select__multi-value__remove {
            padding-right: 2px;

            svg {
              width: 16px;
              height: 16px;
              stroke-width: 1.5px;
            }
          }
        }

    .Search-main-button {
      padding: 17px 29.4px 12px;
      border: 1px solid #282931;
      margin-top: 41px;
      margin-left: 10px;
      border-radius: 0%;
      font-family: 'FranklinMed', Arial, sans-serif;
      font-size: 17px !important;
      font-weight: 400;
      line-height: 1.4;
      background-color: transparent;
      color: #282931;
      letter-spacing: 0.85px;

      @media screen and (min-width: 768px) {
        margin-top: 24px;
      }
    }

    .Search-main-button:hover {
      clip-path: none;
      background-color: black;
      color: white;
    }

    .react-select__indicator .icon path {
      fill: var(--bonnefanten-primary) !important;
    }

    .listing-items {
      display: flex !important;
      flex-direction: column !important;
      padding-bottom: 16px;
      padding-top: 16px;

      @media screen and (min-width: 768px) {
        flex-direction: row !important;
      }

      .jaarverslag-title {
        margin-top: 10px;
        margin-bottom: 5px;
        color: #b6a782;
        font-family: 'StyreneRegular', Arial, sans-serif;
        font-size: 19px;
        letter-spacing: 0em;
        line-height: 25px;
        // color: var(--bonnefanten-primary);
      }

      a {
        max-width: 100% !important;
        margin-right: 50px;

        @media screen and (min-width: 768px) {
          max-width: 41.6% !important;
        }

        @media screen and (min-width: 1200px) {
          max-width: 25% !important;
        }
      }
    }
  }
  }


