.section-search,
.page-not-found {
  #page-search {
    padding-top: 92px;
    padding-right: 56px;
    padding-left: 56px;
    margin-left: 5px !important;
    margin-right: 5px !important;

    @media (min-width: 768px) {
      // padding-left: 100px;
      // padding-right: 100px;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    @media (min-width: 992px){
      width: auto !important;
    }
    @media (min-width: 1200px) {
      max-width: 1170px !important;
      padding-left: 0px;
      padding-right: 0px;
    }

    // @media (min-width: 1200px) {
    //   width: 1170px;
    // }

    // @media (min-width: 992px) {
    //   width: 970px;
    // }

    // @media (min-width: 768px) {
    //   width: 750px;
    //   padding-top: 122px;
    // }
  }

  .pagination-wrapper.top{
    padding-bottom: 30px !important;
    flex-basis: 100%;
  }

  header {
    width: 100%;

    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right:9px;
    margin-right: 0px;
    margin-left: -1px;

    @media (min-width: 768px) {
      width: 650px;
      padding-top: 70px;
    }

    @media (min-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }

    h1.documentFirstHeading {
      margin-bottom: 3px !important;
      @media (max-width: 768px) {
        // padding-bottom: 25px !important;
        padding-top: 10px !important;
        padding-left: 10px !important;
        font-size: 40px !important;
        line-height: 35px !important;
        text-align: center !important;
      }
      @media (min-width: 768px) {
        padding-left: 9px !important;
      }
    }
    .subheading{
      color: #282931 !important;
      font-size: 26.4px !important;
      letter-spacing: 0.00em;
      line-height: 42px;
      display: block;
      margin-top: 15px;
      margin-bottom: 5px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      font-family: 'FranklinBook', Arial, sans-serif !important;
      @media (max-width: 768px){
        padding: 3px;
        padding-bottom: 4px;
      }
      @media (min-width: 768px) {
        padding-top: 8px;
        margin-top: 10px;
        margin-bottom: 7px;
        padding-bottom: 4px;
      }
    }

    .search, .advancedsearch-button, .navigation, .items_total{
      @media (min-width: 768px) {
        padding-left: 31px !important;
        padding-right: 59px !important;
      }
      @media (min-width: 1200px){
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }

    .sort-by {
      padding-bottom: 5px;
      font-family: 'FranklinMed', Arial, Helvetica;
      font-size: 17px;
      letter-spacing: 0.05em;
      line-height: 24px;
    }

    .button-sort {
      width: auto !important;
      width: 100%;
      padding: 5px 5px 3px 5px !important;
      border: 0.5px solid black !important;
      background-color: white !important;
      color: black !important;
      font-family: 'FranklinMed', Arial, Helvetica;
      font-size: 17px;
      letter-spacing: 0.05em;
      line-height: 24px;
    }

    .button-sort:hover {
      background-color: black !important;
      color: white !important;
    }
  }

  #content-core {
    width: auto !important;
    margin-right: 18px !important;
    margin-left: 18px !important;

    @media (min-width: 768px){
      padding-left: 27px;
      padding-right: 27px;
    }

    @media (min-width: 992px) {
      // margin-left: -130px;
      // margin-right: 130px;
      // padding: 6px 12px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row-reverse;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (min-width: 1200px) {
      max-width: 1170px;
    }

    .tileItem {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      @media (min-width: 768px) {
        flex-direction: row;
        // margin-left: -15px;
        // margin-right: -15px;
      }
      @media (min-width: 1200px){
        width: 50%;
        flex-direction:column ;
      }

      img,
      .image-placeholder {
        // padding-right: 12px;
        object-fit: contain !important;
        @media (min-width: 768px) {
          width: 41%;
          // padding-left: 15px;
          padding-right: 16px;
          margin-bottom: auto;
          flex-shrink: 0;
        }
        @media (min-width: 992px) {
          //   padding-left: 0px;
          // padding-right: 0px;
        }
        @media (min-width: 1140px) {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media (min-width: 1200px){
          margin-bottom: 0px;
          width: 100%;
        }
      }
      @media (min-width: 1140px) {
        // margin-right: 85px;
        // margin-left: -85px;
        // aspect-ratio: 16 / 9.3;
        // padding-left: 15px;
        // padding-right: 15px;
      }

      .search-text-wrapper {
        width: 100% !important;
        padding-right: 15px !important;
        @media (min-width: 768px) {
          padding-left: 15px;
        }
        @media (min-width: 1200px) {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100% !important;
          margin-top: 15px;
        }
      }
    }

    h2.tileHeadline {
      padding-top: 20px !important;
      margin-bottom: 0px !important;
      line-height: 21px;

      @media (min-width: 768px) {
        padding-top: 0px !important;
        margin-top: -5px !important;
      }

      a.summary.url {
        border: none;
        margin-bottom: 0px !important;
        color: #494a51;
        font-family: 'FranklinMed', Arial, sans-serif;
        font-size: 21.6px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 32px;
        text-transform: none;
        @media (min-width: 768px) {
          margin-top: -5px;
          font-size: 25px;
        }
      }

      a.summary.url:hover {
        border-bottom: none !important;
      }
    }

    div.tileBody {
      span.description {
        margin: 8px 0;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-bottom: 35px;
        color: #494a51;
        font-family: 'FranklinBook', Arial, sans-serif;
        font-size: 17px !important;
        letter-spacing: 0em;
        line-height: 30px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 4;
        // -webkit-box-orient: vertical;
      }
    }
  }

  .items_total {
    justify-content: flex-start;
    padding-top: 10px;
    color: #404040;
    font-family: 'FranklinBook', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;

    strong {
      padding-right: 5px;
    }
    @media (max-width: 768px) {
      padding-left: 5px;
    }
  }

  .ui.header {
    padding-bottom: 30px;
    @media (min-width: 768px) {
      // padding-left: 20px;
    }
  }

  .search{
    margin-top: 16px;
    @media screen and (min-width: 768px){
      // margin-left: -14px;
      // margin-right: -14px;
    }

  }

  .searchbar {
    width: 100%;
    margin-top: 8px;
    padding-top: 16px;

    @media (max-width: 768px){
      margin-left: 5px;
      margin-right: -20px;
    }

    .field.searchbox {
      padding-left: 0px;
      border-left: 0px !important;
      @media (max-width: 768px) {
        flex-direction: column;

        .ui.transparent.input,
        button {
          width: 100% !important;
        }
      }

      .ui.transparent.input {
        padding: 12px 20px 14px !important;
        border: 1px solid #c3c3c3;
        color: #9c9a9a;
        font-size: 16px;
        letter-spacing: 0.05em;
        opacity: 1;

        #input::placeholder {
          color: #848484;
          font-family: 'FranklinBook', Arial, sans-serif;
          letter-spacing: 0.8px;
          opacity: 1;
        }
        @media (min-width: 768px) {
          padding: 15px 20px 11px !important;
        }
      }
    }

    button {
      width: 120px !important;
      width: 100%;
      padding: 16px 30px 11px !important;
      border: 1px solid black !important;
      background-color: white !important;
      color: black !important;
      font-family: 'FranklinMed', Arial, Helvetica;
      font-size: 17px;
      letter-spacing: 0.05em;
      line-height: 24px;
      text-align: center !important;
    }

    button:hover {
      background-color: black !important;
      color: white !important;
    }
  }

  .listing-dates-wrapper {
    padding-top: 3px;
    margin-bottom: 22px;

    span {
      color: rgba(0, 0, 0, 0.6);
      font-family: 'FranklinBook', Arial, sans-serif;
      font-size: 17px;
      letter-spacing: 0.05em;
      line-height: 30px;
      text-transform: lowercase;
      word-wrap: normal;
    }

    .expired {
      span.hero-dates {
        text-decoration: line-through;
      }
    }
  }

  h2.NotFoundSearch-Header {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    font-family: 'FranklinBook', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 36px !important;
    font-weight: 800;
    line-height: 39.6px;
  }

  .search-results-wrapper{
    flex-grow: 1;
    flex-shrink: 1;
    @media (min-width: 1200px){
      display: flex;
      flex-wrap: wrap;
    }
  }

  .artwork-search-check {
    max-width: 400px;
    width: auto;
    margin-bottom: 20px;

    .artwork-checkbox {
      width: 16px !important;
      padding: 7px 2px !important;
      margin: 0px !important;
      margin-right: 7px !important;
      margin-top: auto !important;
      margin-bottom: auto !important;
    }

    label {
      display: flex !important;
      letter-spacing: 0.8px;
      // margin-bottom: 5px !important;

      span {
        // flex-grow: 1;
        flex-basis: 200px !important;
      }
    }

    input[type="checkbox"]:checked {
      // background-color: var(--bonnefanten-primary) !important;
    }

    .search-heading {
      // color: var(--bonnefanten-primary) !important;
      font-size: 25px !important;
      letter-spacing: normal;
      // font-family: 'StyreneBold', Arial, sans-serif;
    }

    .label {
      color: #404040;
      font-size: 15px;
      margin-top: 5px;
      letter-spacing: 0.8px
    }
  }

  .artwork-search-check.heading {
    display: none;

    @media screen and (min-width: 992px) {
      display: block;
      // position: absolute;
      // right: 10%;
      // margin-top: 3px;
      width: 320px;
      .search-heading, label{
        width: 320px;
      }
    }

    // @media screen and (min-width: 1450px) {
    //   right: 20.27%;
    // }
  }

  #filter-section.artwork-search-check.button {
    button.text-button.btn-block.filter-button {
      background-color: transparent !important;
      border: 0px !important;
      // margin-top: 20px !important;
      margin-bottom: 15px !important;
      color: #282931;
      text-decoration: underline !important;
      font-size: 16px;
      font-family: 'FranklinBook', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
      letter-spacing: 0.8px;
      display: block;
      cursor: pointer;

      &:active,
      &:hover {
        // color: var(--bonnefanten-primary) !important;
        // background-color: var(--bonnefanten-bg) !important;
      }
    }

    @media screen and (min-width:992px) {
      display: none !important;
    }
  }
  #filter-section.artwork-search-check.button.advancedsearch-button{
    display: block !important;
    margin-top: 10px !important;
    // margin-bottom: 5px !important;
    @media screen and (min-width:992px) {
      display: block !important;
    }
  }
}

.page-not-found header {
  padding-top: 0px;
}

.page-not-found #view p {
  @media (min-width: 1140px) {
    margin-right: auto;
    margin-left: auto;
  }
}


//Filter Menu
body.section-search .filter-menu {
  padding-top: 0 !important;
  position: fixed;
  height: calc(100vh + 40px);
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 1000;
  border: 0px;
  .nav-seach-wrapper{
    background-color: #282931;
    width: 100% !important;
    // position: fixed;
    // top: -20px;
    overflow: auto;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;

    .filter-menu-nav{
      width: 80%;
      .ui.container{
        margin-top: 0px;
      }
    }
    .transparent-empty-section{
      width: 20%;
      height: 100%;
      border: 0px !important;
      opacity: 90%;
      cursor: pointer;
    }
    .ui.container{
      margin-left: 0px !important;
      margin-right: 0px !important;
      width: 100% !important;
    }
    .ui.container .MuiAccordionSummary-content {
      color: white !important;
      font-size: 20px;
      font-family: 'FranklinDmCp', Arial, sans-serif;
      padding: 20px 10px 15px;
      height: 95px;
      line-height: 60px;
    }
    .MuiPaper-root{
      width: 100%;
      background-color: #282931;
      border: 0px;
      border-bottom: 1px solid white;
    }
    .MuiButtonBase-root{
      flex-direction: row-reverse;
    }
    .MuiSvgIcon-root{
      fill: white;
    }
    .MuiPaper-root.Mui-expanded{
      background-color: black;
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
    .MuiAccordionDetails-root{
      background: white;
    }
    .MuiAccordionSummary-expandIconWrapper.Mui-expanded{
      transform: rotate(90deg);
    }
    @media screen and (min-width: 992px){
      display: none;
    }
  }
}
.section-search{
  .filter-menu-enter {
    display: block;
    transform: translateX(100%) !important;
  }

  .filter-menu-enter.filter-menu-enter-active {
    display: block;
    transform: translateX(0%) !important;
    transition: transform 0.4s cubic-bezier(0.91, 0.1, 0.6, 0.99);
  }

  .filter-menu-enter-done {
    display: block;
  }

  .filter-menu-appear {
    display: block;
  }

  .filter-menu-exit {
    display: block;
    transform: translateX(0%) !important;
    transition: transform 0.4s cubic-bezier(0.91, 0.1, 0.6, 0.99);
  }

  .filter-menu-exit.filter-menu-exit-active {
    display: block;
    transform: translateX(100%) !important;
    transition: transform 0.4s cubic-bezier(0.91, 0.1, 0.6, 0.99);
  }

  .segment.content-area,
  .header-bg,
  .logo,
  #Footer-wrapper {
    transform: translateX(0) !important;
    transition: transform 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  }

  @keyframes filterIn {
    0% {
      transform: translateX(100%) !important;
    }

    100% {
      transform: translateX(0) !important;
    }
  }
}

body.filter-menu-opened {
  .right-section {
    width: 100%;
  }

  .tools-search-wrapper {
    display: flex;
    animation: filterIn 0.3s cubic-bezier(0.91, 0.01, 0.6, 0.99) forwards;
  }
}


body.has-toolbar {
  .tools-search-wrapper {
    @media (min-width: 992px) {
      margin-left: 80px;
    }
  }
}
.section-search {
  .segment.content-area{
    margin-top: 0px !important;
  }
  #main .filter-menu {
    display: flex !important;
    padding-top: 30px;

    @media (max-width: 992px) {
      padding-top: 20px;
    }

    .logo-nav {
      flex: 0 0 345px;
      margin-left: 40px;
      // margin-top: 10px;

      .background-section {
        position: absolute;
        top: 0px;
        left: 0%;
        width: 320px;
        height: 100%;

        background: #fbf9f2;
      }

      @media (max-width: 992px) {
        max-width: 200px;
        flex-basis: 200px;
        margin-left: 30px;

        .background-section {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}
////Filter Menu ENDS
