.section-image_view_fullscreen {
  .header-wrapper {
    display: none;
  }

  .ui.basic.segment.content-area {
    padding-top: 0px;
    margin-top: 13px;
  }

  #page-search {
    padding-left: 0px;
    font-family: 'FranklinBook', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;

    a {
      border-bottom: 0px;
      color: #9d9d9d;
      text-decoration: underline;

      &:hover {
        border-bottom: 0px !important;
        color: black;
        text-decoration: none;
      }
    }

    .home-link {
      margin-bottom: 31px;
    }

    p {
      margin-bottom: 21px;
      color: rgb(0, 0, 0) !important;
      font-family: 'FranklinBook', Helvetica, sans-serif !important;
      font-size: 16px;
      -webkit-font-smoothing: auto !important;
      -moz-osx-font-smoothing: auto !important;
      font-weight: 500;
      line-height: 18px;
    }

    .image-section {
      margin-top: 54px;
      max-width: 100%;
      max-height: 100%;

      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  #Footer-wrapper {
    display: none;
  }
}
