#object-block{
  img{
    max-width: 80%;
  }
  .leftrightbuttons{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
      border: 0px;
      background-color: transparent;
      // height: 50px;
      // width: 40px;
      svg, path{
        height:2em !important;
        width: 2em !important;
      }
    }
    .paginator{
      margin-top: auto;
      margin-bottom: auto;
      font-size: 15px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      p{
        margin: 0%;
      }
    }
  }
  .rawdata{
    width: 60%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .zoom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: 100%;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.contenttype-object{
  #page-document.ui.container{
    width: 100vw !important;
  }
}
