// @import '../../../../../theme/globals/site.variables';

.view-viewview.contenttype-artwork {
  .content-area{
    // margin-top: 0% !important;
    // padding-top: 0% !important;
  }
  .portal-top {
    height: 0px !important;
  }
  .header-wrapper.contentpage {
    position: absolute;
  }
}

.view-viewview.contenttype-artwork #object-block {
  .react-swipe-container {
    // padding-bottom: 55px;
    @media screen and (max-width: 768px) {
      padding-bottom: 100px;
    }
  }

  #swipe-slider .react-swipe-container {
    min-height: 400px;
  }

  .react-transform-component img {
    // max-width: 95vh;
    width: 100%;
    height: auto !important;
    // margin: 0px !important;
    // padding-top: 10px;
    object-fit: contain !important;
    // padding-bottom: 20px;
    @media screen and (min-width: 992px) {
      // padding-top: 12vw !important;
    }
    @media screen and (max-width: 992px) {
      // padding-top: 20vw !important;
    }
  }
    .zoom-container {
    display: flex;
    overflow: hidden;
    height: calc(80vh - 13px) !important;
    height: 100%;
    min-height: 540px;
    align-items: center;
    justify-content: center;
    cursor: move;
    @media screen and (max-width: 768px) {
      height: 56vh !important;
    }
  }
    .react-transform-wrapper,
    .react-transform-component,
    .react-transform-component img {
      // max-height: calc(80vh - 50px) !important;
      max-height: 80vh !important;
      @media screen and (max-width: 768px) {
        max-height: 55vh !important;
      }
    }

    .react-transform-wrapper {
      width: 100% !important;
    }
    .react-transform-wrapper{
      width: 100% !important;
      // height: 80vh !important;
      @media screen and (max-width: 768px) {
          height: 55vh !important;
        }

      .react-transform-component{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }

    .react-transform-component {
      width: auto !important;
      height: 100% !important;
    }
}

//   .buttons {
//     padding-top: 23px;
//     padding-bottom: 42px;
//     @media screen and (max-width: 768px){
//       padding-bottom: 68px !important;
//     }
//     @media screen and (min-width: 768px) and (max-width: 1200px) {
//       margin-top: 53px;
//       padding-bottom: 39px;
//     }


//     .button {
//       display: block;
//       width: auto;
//       height: auto;
//       padding: 15.2px;
//       padding-top: 15px;
//       padding-bottom: 15px;
//       border: 2px solid var(--bonnefanten-primary, #f9423a) !important;
//       margin: 0 5.1px;
//       margin-top: 0px;
//       margin-bottom: 0px;
//       margin-bottom: 5px;
//       background: var(--bonnefanten-primary, #f9423a);
//       border-radius: 0px;
//       color: var(--bonnefanten-bg);
//       float: right;
//       font-family: 'StyreneBold', Arial, sans-serif;
//       font-size: 17px;
//       font-weight: 400;
//       letter-spacing: 0em;
//       line-height: 15px;
//       text-shadow: 0px 0px 0px #ffffff;
//       text-transform: none;
//       -moz-transition: all 100ms linear;
//       -o-transition: all 100ms linear;
//       -webkit-transition: all 100ms linear;
//       transition: all 100ms linear;

//       svg,
//       path {
//         width: 20px !important;
//         height: 20px !important;
//         stroke-width: 1px;
//       }
//     }

//     .button.share {
//       position: relative;
//     }

//     .share-button {
//       max-width: 68px;
//     }

//     .button.expand {
//       @media screen and (max-width: 768px) {
//         margin-left: -5px;
//       }
//       width: 200px;
//       clip-path: polygon(
//         0% 10px,
//         10px 0%,
//         calc(100%) 0%,
//         100% 10px,
//         100% calc(100% - 10px),
//         calc(100% - 10px) 100%,
//         10px 100%,
//         0 calc(100%)
//       );
//       @media screen and (max-width: 992px) {
//         width: 250px;
//       }
//     }
//     // .button.expand.expanded {
//     // color: var(--bonnefanten-primary, #f9423a);
//     // background: var(--bonnefanten-bg);
//     // clip-path: none;
//     // }
//     .button.zoomminus {
//       margin-right: 15px;
//       margin-left: 1px;
//       @media screen and (max-width: 768px) {
//         margin-right: 5px;
//       }
//     }

//     .button.zoomplus {
//       margin-right: 0px;
//     }

//     .MagnifierPlus path {
//       stroke-width: 30px;
//     }
//   }

//   .buttons .button:hover {
//     background: var(--bonnefanten-bg);
//     clip-path: none;
//     color: var(--bonnefanten-primary, #f9423a);
//   }

//   .react-transform-component img {
//     // max-width: 95vh;
//     width: 100%;
//     height: auto !important;
//     margin: 0px !important;
//     // padding-top: 10px;
//     object-fit: contain !important;
//     // padding-bottom: 20px;
//     @media screen and (min-width: 992px) {
//       // padding-top: 12vw !important;
//     }
//     @media screen and (max-width: 992px) {
//       // padding-top: 20vw !important;
//     }
//   }

//   .leftrightbuttons {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     text-align: center;

//     button {
//       border: 0px;
//       background-color: transparent;
//       // height: 50px;
//       // width: 40px;
//       svg,
//       path {
//         width: 38px !important;
//         height: 23px !important;
//         stroke-width: 0.1px;
//       }
//     }

//     .paginator {
//       display: inline-flex;
//       align-items: center;
//       justify-content: center;
//       padding-right: 5px;
//       padding-left: 5px;
//       margin-top: auto;
//       margin-bottom: auto;

//       p {
//         margin: 0%;
//         font-size: 16px;
//       }
//     }
//   }

//   .rawdata-section {
//     overflow: hidden;
//     max-height: 0;
//     padding-right: 82px;
//     padding-left: 82px;
//     margin-top: 81px;
//     // margin-top: 37px;
//     margin-right: auto;
//     margin-left: auto;
//     opacity: 0;
//     transition: max-height 0.5s ease-out, opacity 0.3s ease-out;

//     @media screen and (max-width: 1200px) {
//       padding-right: 73px;
//       padding-left: 73px;
//       margin-top: 42px;
//     }
//     @media screen and (max-width: 992px) {
//       padding-right: 61px;
//       padding-left: 61px;
//       margin-top: 47px;
//     }
//     @media screen and (max-width: 768px) {
//       padding-right: 42.5px;
//       padding-left: 42.5px;
//       margin-top: 14px;
//     }
//     p {
//       // color: #9d9d9d;
//       font-family: 'FranklinBook', Arial, sans-serif;
//       font-size: 19.68px;
//       font-weight: 500;
//       letter-spacing: 0em;
//       line-height: 36px;
//     }

//     a {
//       border-bottom: 0px !important;
//       // color: #9d9d9d;
//       text-decoration: underline;
//     }

//     a:hover {
//       border-bottom: 0px !important;
//       // color: #000;
//       text-decoration: none;
//     }

//     ul {
//       padding-left: 20px;
//       margin-top: 0px;
//       margin-bottom: 10px;
//     }

//     li {
//       padding-left: 0px;
//     }

//     li::marker {
//       // color: #9d9d9d;
//     }
//   }

//   .rawdata-section.expanded {
//     max-height: 30000px;
//     padding-bottom: 214px !important;
//     margin-top: 15px !important;
//     opacity: 1;
//     // margin-top: 77px !important;
//     @media screen and (max-width: 992px) {
//         padding-bottom: 141px !important;
//       }
//     @media screen and (max-width: 768px) {
//         margin-top: 27px !important;
//         padding-bottom: 92px !important;
//       }


//     .page-search-title {
//       @media screen and (max-width: 992px) {
//         margin-bottom: 30px;
//       }
//     }
//   }

//   .zoom-container {
//     display: flex;
//     overflow: hidden;
//     height: 80vh !important;
//     height: 100%;
//     min-height: 540px;
//     align-items: center;
//     justify-content: center;
//     cursor: move;
//     @media screen and (max-width: 768px) {
//       height: 56vh !important;
//     }
//   }

//   .buttons {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: center;
//   }

//   .social-media-popup {
//     position: absolute;
//     right: -20px;
//     bottom: 62px;
//     display: flex;
//     display: flex;
//     width: 90px;
//     flex-direction: column;
//     justify-content: space-around;
//     padding: 10px;
//     border: 1px solid #ccc;
//     // background-color: #000;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

//     .popover-title {
//       height: 20px;
//       padding-bottom: 10px;
//       margin-top: 0px;
//       // color: #ffffff;
//       font-family: 'FranklinDmCp', Arial, sans-serif;
//       font-size: 22px;
//       font-weight: 400;
//       letter-spacing: 0em;
//       line-height: 30px;
//     }

//     .popover-content .row {
//       margin-top: 5px;
//     }

//     a {
//       border-bottom: none !important;
//     }

//     a:hover {
//       border-bottom: none !important;
//       // color: #f8f80c;
//     }

//     .row {
//       max-width: 70px;
//     }

//     .row.facebook-row img {
//       height: 33px;
//       max-height: 35px !important;
//     }
//   }

//   .social-media-popup::after {
//     position: absolute;
//     bottom: -10px;
//     left: 50%;
//     /* Center the arrow and rotate it */
//     width: 0;
//     height: 0;
//     border-right: 10px solid transparent;
//     border-bottom: 10px solid black;
//     border-left: 10px solid transparent;
//     content: '';
//     transform: translateX(-50%) rotate(180deg);
//     /* This creates the arrow shape */
//   }
// }

// .contenttype-object {
//   .portal-top {
//     height: 0px;
//   }

//   .ui.basic.segment.content-area {
//     padding-top: 0px;
//     margin-top: 0px;
//   }

//   #page-document.ui.container {
//     width: calc(100vw - 20px) !important;
//     margin-right: 0px !important;
//     margin-left: 0px !important;

//     .documentFirstHeading {
//       display: none;
//     }
//   }
//   @media (max-width: 768px) {
//     #page-document.ui.container > * {
//       padding-right: 0px !important;
//       padding-left: 0px !important;
//     }
//   }
// }

// // RAWData
// .view-viewview.contenttype-artwork #rawdata {
//   width: auto;
//   padding-right: 15px;
//   padding-left: 15px;
//   @media (min-width: 768px) {
//     width: 750px;
//   }
//   @media (min-width: 992px) {
//     width: 970px;
//   }
//   @media (min-width: 1200px) {
//     width: 1170px;
//   }

//   .data-wrapper {
//     padding-right: 10px;
//     padding-left: 10px;
//     margin: 0 auto;
//     @media (min-width: 768px) {
//       width: 90%;
//     }
//   }

//   table {
//     width: 100%;

//     td p {
//       margin: 0;
//     }
//   }

//   .description-wrapper {
//     margin-bottom: 50px;
//     @media (min-width: 992px) {
//       width: 720px;
//       margin: 0 auto 38px;
//     }
//   }

//   .expand-button {
//     display: block;
//     padding-left: 0px;
//     border: 0px;
//     background-color: #ffffff;
//     cursor: pointer;
//     font-family: 'FranklinBook', Arial, sans-serif;
//     font-size: 19.68px;
//     font-weight: 100;
//     text-decoration: underline;
//   }

//   .expand-data-button {
//     display: block;
//     padding-left: 0px;
//     border: 0px;
//     margin-top: 10px;
//     background-color: #ffffff;
//     // color: #9d9d9d;
//     cursor: pointer;
//     font-size: 19.68px;
//     font-weight: 100;
//     text-decoration: underline;
//   }

//   .expand-data-button:hover {
//     // color: #000;
//   }

//   #description.data-description {
//     overflow: hidden;
//     margin-bottom: 3px;
//     // color: #404040;
//     font-size: 16px !important;
//     line-height: 22.8px !important;
//     transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
//   }

//   #description.data-description.false {
//     position: relative;
//     max-height: 240px;
//   }

//   #description.data-description.true {
//     position: relative;
//     max-height: 1000px;
//   }

//   #description.data-description.false:after {
//     position: absolute;
//     bottom: 0px;
//     left: 0px;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(
//       to bottom,
//       rgba(255, 255, 255, 0) 0%,
//       #ffffff 100%
//     );
//     content: '';
//     content: '';
//     opacity: 1;
//     transition: opacity 0.6s;
//   }
//   @media screen and (max-width: 768px) {
//     tr {
//       display: flex;
//       flex-direction: column;

//       .columntwo,
//       .columnone {
//         width: 100%;
//         padding-left: 0px;
//       }

//       .columnone {
//         p {
//           font-size: 20px !important;
//         }
//         padding-top: 0;
//       }

//       .columntwo {
//         p, a {
//           font-size: 16px !important;
//         }
//         padding-top: 0;
//         padding-right: 10px;
//         padding-bottom: 15px;
//         margin-bottom: 15px;
//       }
//     }
//   }

//   .columnone {
//     width: 33.3%;
//     padding: 15px 15px 0px 5px;
//     vertical-align: top;

//     p {
//       // color: var(--bonnefanten-primary, #f9423a);
//       font-family: 'StyreneBold', Arial, sans-serif;
//       font-size: 18px !important;
//       line-height: 25px;
//     }
//   }

//   .columntwo {
//     width: 66.6%;
//     padding: 15px 10px 0px 12px;



//     p,
//     a {
//       // color: #575756;
//       font-family: 'StyreneRegular', Arial, Helvetica, sans-serif;
//       font-size: 18px !important;
//       letter-spacing: 0em;
//       line-height: 25px;
//       line-break:normal ;
//     }
//   }

//   table tr,
//   table.ui.table tr,
//   table.ui.table.block tr,
//   table th,
//   table.ui.table th,
//   table.ui.table.block th,
//   table td,
//   table.ui.table td,
//   table.ui.table.block td {
//     border: 0;
//   }
// }

// .react-transform-wrapper,
// .react-transform-component,
// .react-transform-component img {
//   max-height: 80vh !important;
//   @media screen and (max-width: 768px) {
//     max-height: 55vh !important;
//   }
// }

// .react-transform-wrapper {
//   width: 100% !important;
// }
// // .react-transform-wrapper{
// //   width: 100% !important;
// //   // height: 80vh !important;
// //   @media screen and (max-width: 768px) {
// //       height: 55vh !important;
// //     }

// //   .react-transform-component{
// //     width: 100%;
// //     height: 100%;
// //     align-items: center;
// //     justify-content: center;
// //   }
// // }

// .react-transform-component {
//   width: auto !important;
//   height: 100% !important;
// }

// .view-viewview.contenttype-artwork #page-search-artwork {
//   max-width: 1250px !important;
//   padding-top: 19px;
//   padding-right: 84px;
//   padding-left: 85px;
//   @media screen and (max-width: 1200px) {
//     padding-top: 60px;
//     padding-right: 50px;
//     padding-left: 50px;
//   }

//   @media screen and (max-width: 992px) {
//     width: auto !important;
//     padding-top: 12px;
//     padding-right: 27px;
//     padding-left: 27px;
//   }
//   @media screen and (max-width: 768px) {
//     padding-top: 0px;
//     padding-right: 12px !important;
//     padding-left: 11.5px !important;
//   }

//   .page-search-title {
//     margin-bottom: 63px;
//     text-align: center;

//     @media screen and (max-width: 992px) {
//       margin-bottom: 38px;
//       // margin-top: 40px;
//     }
//     @media screen and (max-width: 768px){
//       margin-bottom: 31px;
//     }

//     h1 {
//       margin-top: 10px;
//       // color: #b6a782;
//       font-size: 4vw;
//       letter-spacing: 0em;
//       @media screen and (max-width: 992px) {
//         font-size: 8vw;
//       }
//       @media screen and (max-width: 768px) {
//         font-size: 6vw;
//       }
//     }
//   }

//   // .search-items {
//   //   -moz-column-count: 2;
//   //   -webkit-column-count: 2;
//   //   column-count: 2;
//   //   -moz-column-gap: 10px;
//   //   -webkit-column-gap: 10px;
//   //   column-gap: 10px;
//   //   @media screen and (max-width: 768px) {
//   //     -moz-column-count: 1;
//   //     -webkit-column-count: 1;
//   //     column-count: 1;
//   //   }
//   // }

//   .SeeMoreItem {
//     // width: 100% !important;
//     height: auto;
//     box-sizing: border-box;
//     padding: 20px 20px 20px 20px;
//     break-inside: avoid;

//     a {
//       font-family: 'StyreneBold', Arial, sans-serif;
//       text-decoration: none;
//     }

//     img {
//       width: 100% !important;
//       margin-bottom: 12px !important;
//       @media screen and (min-width:768px) {
//         margin-bottom: 8px !important;
//       }
//       @media screen and (min-width:1200px) {
//         margin-bottom: 8px !important;
//       }
//     }

//     .description {
//       padding-top: 9px;
//       p{
//         margin-bottom: 5px;
//       }
//       @media screen and (max-width:992px) {
//         padding-top: 9px;

//         p {
//           margin-bottom: 4px !important;
//         }
//       }
//       @media screen and (max-width:768px){
//         padding-top: 9px;
//         p{
//           margin-bottom: 0px !important;
//         }
//       }

//     }

//     .item-description {
//       margin-bottom: 5px;
//       // color: #575756;
//       // font-family: 'StyreneRegular', Arial, sans-serif;
//       font-size: 19px;
//       letter-spacing: 0px;
//       line-height: 25px;
//       font-weight: 500;
//       @media screen and (min-width: 1200px){
//         margin-left: -0.4px;
//       }
//     }
//   }

//   .item_title {
//     color: var(--bonnefanten-primary, #f9423a);
//     font-family: 'StyreneBold', Arial, sans-serif;
//     font-size: 26px;
//     text-decoration: none;
//     line-height: 30px;
//     width: fit-content;
//     border-bottom: 1px solid var(--bonnefanten-bg);
//     @media screen and (min-width: 1200px) {
//         margin-left: -0.4px;
//       }
//   }
//   .item_title:hover{
//     border-bottom: 1px solid var(--bonnefanten-primary)
//   }
// }

#object-block {
  padding-top: 0px;
  padding-bottom: 80px;

  .buttons {
    padding-top: 20px;

    .button {
      display: block;
      width: auto;
      height: auto;
      padding: 15.3px;
      padding-bottom: 11px;
      border: 1px solid #e6e6e6 !important;
      margin: 0 5px;
      margin-top: 0px;
      // margin-bottom: 0px;
      margin-bottom: 5px;
      background: white;
      border-radius: 0px;
      color: #666666;
      float: right;
      font-family: 'FranklinMed', Arial, sans-serif;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: 15px;
      text-shadow: 0px 0px 0px #ffffff;
      text-transform: none;
      -moz-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      -webkit-transition: all 100ms linear;
      transition: all 100ms linear;

      svg,
      path {
        width: 20px !important;
        height: 20px !important;
        stroke-width: 1px;
      }
    }

    .button.share {
      position: relative;
    }

    .share-button {
      max-width: 68px;
    }

    .button.expand {
      width: 200px;
    }

    .button.zoomminus {
      margin-right: 16px;
      margin-left: 0px;
    }

    .button.zoomplus {
      margin-right: 0px;
    }
  }

  .buttons .button:hover {
    border: 1px solid #000000;
    background: #000000;
    color: #ffffff;
  }

  .react-transform-component > img {
    max-width: 80vw;
    padding-bottom: 20px !important;
    padding-top: 16px;
  }

  .leftrightbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    // margin-top: -13px;

    button {
      border: 0px;
      background-color: transparent;
      // height: 50px;
      // width: 40px;
      svg,
      path {
        width: 38px !important;
        height: 23px !important;
        stroke-width: 0.1px;
      }
    }

    .paginator {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-right: 5px;
      padding-left: 5px;
      margin-top: auto;
      margin-bottom: auto;

      p {
        margin: 0%;
        font-size: 16px;
      }
    }
  }

  .rawdata-section {
    overflow: hidden;
    max-height: 0;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;

    p {
      color: #9d9d9d;
      font-family: 'FranklinBook', Arial, sans-serif;
      font-size: 19.68px;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: 36px;
    }

    a {
      border-bottom: 0px !important;
      color: #9d9d9d;
      text-decoration: underline;
    }

    a:hover {
      border-bottom: 0px !important;
      color: #000;
      text-decoration: none;
    }

    ul {
      padding-left: 17px;
      margin-top: 0px;
      margin-bottom: 9px;
      button{
        margin-top: 16px;
        margin-left: -17px;
        padding-bottom: 1px;
        margin-bottom: -4px;
        font-size: 19.3px !important;
      }
    }

    p:has(li){
      padding-bottom:  4px;
    }

    li {
      padding-left: 0px;
      padding-bottom: 0px;
      line-height: 36.5px;
      p {
        font-size: 19.007px !important;
        letter-spacing: 0em !important;
        line-height: 37px;
      }
    }

    li::marker {
      color: #9d9d9d;
      margin-right: 5px !important;
    }
  }

  .rawdata-section.expanded {
    max-height: 30000px;
    opacity: 1;
  }

  .zoom-container {
    display: flex;
    overflow: hidden;
    height: 80vh !important;
    height: 100%;
    min-height: 540px;
    align-items: center;
    justify-content: center;
    cursor: move;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-media-popup {
    position: absolute;
    right: -20px;
    bottom: 62px;
    display: flex;
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .popover-title {
      height: 20px;
      padding-bottom: 10px;
      margin-top: 0px;
      color: #ffffff;
      font-family: 'FranklinDmCp', Arial, sans-serif;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 0em;
      line-height: 30px;
    }

    a {
      border-bottom: none !important;
    }

    a:hover {
      border-bottom: none !important;
      color: #f8f80c;
    }

    .row {
      max-width: 70px;
    }

    .row.facebook-row img {
    //   height: 23px;
        height: 33px;
        max-height: 35px !important;
    }
  }

  .social-media-popup::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    /* Center the arrow and rotate it */
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    content: '';
    transform: translateX(-50%) rotate(180deg);
    /* This creates the arrow shape */
  }
}

.contenttype-object {
  .portal-top {
    height: 0px;
  }

  .ui.basic.segment.content-area {
    padding-top: 0px;
    margin-top: 0px;
  }

  #page-document.ui.container {
    width: calc(100vw - 20px) !important;
    margin-right: 0px !important;
    margin-left: 0px !important;

    .documentFirstHeading {
      display: none;
    }
  }
  @media (max-width: 768px) {
    #page-document.ui.container > * {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }
}

// RAWData
#rawdata {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
    padding: 0% 80px;
  }

  .data-wrapper {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 90%;
    }
  }

  table {
    width: 100%;

    td p {
      margin: 0;
    }
  }

  .description-wrapper {
    margin-bottom: 50px;
    @media (min-width: 992px) {
      width: 720px;
      margin: 0 auto 39px;
    }
  }

  .expand-button {
    display: block;
    padding-left: 0px;
    border: 0px;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'FranklinBook', Arial, sans-serif;
    font-size: 19.68px;
    font-weight: 100;
    text-decoration: underline;
  }

  .expand-data-button {
    display: block;
    padding-left: 0px;
    border: 0px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #9d9d9d;
    cursor: pointer;
    font-family: 'FranklinBook', Arial, sans-serif;
    font-size: 19.68px;
    font-weight: 100;
    text-decoration: underline;
  }

  .expand-data-button:hover {
    color: #000;
  }

  #description.data-description {
    overflow: hidden;
    margin-bottom: 3px;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
    line-height: 36px !important;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
    margin-top: 11px;
    margin-bottom: 4.5px;
  }

  #description.data-description.false {
    position: relative;
    max-height: 230px;
  }

  #description.data-description.true {
    position: relative;
    max-height: 1000px;
  }

  #description.data-description.false:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    );
    content: '';
    content: '';
    opacity: 1;
    transition: opacity 0.6s;
  }

  .columnone {
    width: 33.3%;
    padding: 13px 15px 0px 5px;
    vertical-align: top;

    p {
      color: #494a51;
      letter-spacing: -0.1968px;
    }
  }

  .columntwo {
    width: 66.6%;
    padding: 13.1px 0px 0px 10.5px;

    p {
      color: #9d9d9d;
      letter-spacing: -0.1968px;
    }
  }
}

.react-transform-wrapper {
  width: 100% !important;
  height: 80vh !important;

  .react-transform-component {
    width: 100%;
    height: 100%;
    // margin-left: 0px !important;
    // margin-right: 0px !important;
    align-items: center;
    justify-content: center;
  }
}
