.contenttype-author {
  #page-search-title {
    display: none;
  }
  #page-search-artwork {
    .listing-image, a.listing-image:hover{
      border-bottom: 0 !important;
    }
  }

  #object-block {
    padding-top: 0px;
    margin-top: -12px;
    // margin-left: 12px;
    // margin-right: 12px;
    @media screen and (min-width:768px){
      padding-top: 8px;
      margin-top: 0px;
    }
    @media screen and (max-width: 992px) {
      // margin-top: 142px;
    }

    .ui.container {
      width: auto !important;
    }

    #page-search-artwork {
      width: auto;
      max-width: none !important;
      padding-right: 121px;
      padding-left: 121px;
      margin: 4px !important;

      @media screen and (min-width: 992px) {
        padding-right: 100px;
        padding-left: 100px;
      }

      img {
        width: 100%;
      }
    }
  }

  .page-search-title {
    margin-bottom: 56px;
    text-align: center;

    @media screen and (max-width: 992px) {
      margin-bottom: 29px;
      // margin-top: 40px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 27px;
    }

    h1 {
      margin-top: 10px;
      color: #b6a782;
      font-size: 4vw;

      @media screen and (max-width: 992px) {
        font-size: 8vw;
      }

      @media screen and (max-width: 768px) {
        font-size: 6vw;
      }
    }
  }

  .SeeMoreItem {
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    break-inside: avoid;

    @media screen and (max-width: 768px) {
      padding: 0px;
      padding-bottom: 40px;
    }

    a {
      font-family: 'StyreneBold', Arial, sans-serif;
      text-decoration: none !important;
    }

    a:hover {
      text-decoration: underline !important;
    }

    img {
      width: 100% !important;
      margin-bottom: 8px !important;

      @media screen and (min-width: 768px) {
        margin-bottom: 5px !important;
      }
    }
    .description p{
      margin: 0 !important;
      line-height: 20px !important;
    }

    .item-description {
      margin-top: 10px;
      margin-bottom: 5px;
      color: #494a51;
      font-family: 'FranklinBook', Arial, sans-serif;
      line-height: 16px !important;
      font-size: 12px !important;
      letter-spacing: 0em;
    }
  }

  .item_title {
    color: #282931;
    font-family: 'FranklinBook', Arial, sans-serif !important;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none !important;
    padding-top: 5px !important;
    padding-bottom: 6px !important;
  }
}

.contenttype-author #main .description-wrapper {
  padding-top: 0px !important;
  padding-bottom: 0.1px !important;
}

.contenttype-author .documentDescription.author:not(.hero-description) {
  font-size: 38px !important;
  text-align: center !important;
  margin-top: 0px !important;
  font-weight: 400 !important;
  text-transform: none !important;
  letter-spacing: 0.0em !important;
  width: 100% !important;
  max-width: 100% !important;
  line-height: 75px !important;
  font-family: 'FranklinDmCp', Arial, sans-serif !important;
  margin-bottom: 10px !important;
  font-size: 45px !important;

  @media screen and (min-width: 768px) {
    font-size: 60px !important;
    margin-top: 25px !important;
  }
}
